name: Node CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: test
      run: |
        cd client/nodejs
        npm ci
        npm test
      env:
        CI: true
